<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community 
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem libero ad aperiam ratione tempore impedit alias at nisi deleniti aspernatur illo aut. Alias eos explicabo laboriosam, earum nesciunt quaerat!</p>
</div>